:root{
    --blueish-color: #232E52;
    --font-roboto: "Roboto Slab", serif;

}
*, *::before, *::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 30px;
}

/* Header Lucho20091*/
header{
    background-color: var(--blueish-color);
    max-width: 1420px;
    margin: 0 auto;
    height: 555px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 51px 80px;
}
.nav-logo > a > img{
    margin-top: 10px;
}
.nav-ul{
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 0;
}
.nav-ul > li > a{
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
}
.nav-btn{
    background-color: rgba(255, 255, 255, 0.1);
    width: 108px;
    height: 36px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
}
.nav-btn:hover{
    background-color:  rgba(255, 255, 255, 0.171);;
}
@media (max-width: 915px){
    nav{
        padding: 51px 20px;
    }
    .nav-ul{
        gap: 20px;
    }
}
/* Main */

/* Section 1 */

/* Section 2 */

/* Section 3 */

/* Footer */
