:root{
    --blueish-color: #232E52;
    --font-roboto: "Roboto Slab", serif;
}
*, *::before, *::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 30px;
}

/* Header Lucho20091*/
header{
    background-color: var(--blueish-color);
    max-width: 1420px;
    margin: 0 auto;
    height: 555px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 51px 80px;
}
.nav-logo > a > img{
    margin-top: 10px;
}
.nav-ul{
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 0;
}
.nav-ul > li > a{
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
}
.nav-btn{
    background-color: rgba(255, 255, 255, 0.1);
    width: 108px;
    height: 36px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: bold;
}
.nav-btn:hover{
    background-color:  rgba(255, 255, 255, 0.171);
}
@media (max-width: 915px){
    nav{
        padding: 51px 20px;
    }
    .nav-ul{
        gap: 20px;
    }
}
@media (max-width: 696px){
    body{
        padding: 0;
    }
    nav{
        display: grid;
        grid-template-areas:    "logo button"
                                "nav-ul nav-ul";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 2fr;
    }
    .nav-logo{
        grid-area: logo;
        align-self: flex-start;
        justify-self: flex-start;
    }
    .nav-ul{
        grid-area: nav-ul;
        flex-wrap: wrap;  
        margin: 0;
        gap: 1%;
        align-items: center;
        justify-content: space-between;
    }
    .nav-ul > li {
        min-width: 49%;
        display: flex;
        margin-top: 1%;
    }
    .nav-ul > li > a{
        padding: 15px 0;
        text-align: center;
        flex: 1;
        background-color: rgba(255, 255, 255, 0.1);
    }
    .nav-ul > li > a:hover{
        background-color:  rgba(255, 255, 255, 0.171);
    }
    .nav-btn{
        grid-area: button;
        align-self: flex-start;
        justify-self: flex-end;

    }
}
/* Main */

/* Section 1 */

/* Section 2 */

/* Section 3 */

/* Footer */
